---
layout: default
title: Arts Regis
---

<div class="home" id="home">
  
  <h1 class="pageTitle">Trabalhos Recentes</h1>
  
  <!--
  <ul class="posts noList">
    {% for post in paginator.posts %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
  -->
  
  <div class="row">
    
					<section id="projects">
					   <ul id="thumbs" class="portfolio">

                <li class="item-thumbs col-lg-4 design" data-id="id-0" data-type="web">
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="{{ "/assets/img/works/1.jpg" | prepend: site.baseurl }}">
                      <span class="overlay-img"></span>
                      <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <img src="{{ "/assets/img/works/1.jpg" | prepend: site.baseurl }}" 
                      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                </li>
                
                <li class="item-thumbs col-lg-4 design" data-id="id-0" data-type="web">
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="{{ "/assets/img/works/2.jpg" | prepend: site.baseurl }}">
                      <span class="overlay-img"></span>
                      <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <img src="{{ "/assets/img/works/2.jpg" | prepend: site.baseurl }}" 
                      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                </li>
                
                <li class="item-thumbs col-lg-4 design" data-id="id-0" data-type="web">
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Portfolio name" href="{{ "/assets/img/works/3.jpg" | prepend: site.baseurl }}">
                      <span class="overlay-img"></span>
                      <span class="overlay-img-thumb font-icon-plus"></span>
                    </a>
                    <img src="{{ "/assets/img/works/3.jpg" | prepend: site.baseurl }}" 
                      alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                </li>
                
					   </ul>
					</section> 
	 </div>
  
  
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a> 
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
  
</div>