<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for index in (0..14) %}

                {% if index == 0 or index == 4 or index == 5 or index == 9 or index == 10 or index == 14 %}
                    Not Renderized {{ index }}
                {% else %}
                    Renderized {{ index  }}
                {% endif %}

            {% endfor %}

        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
