<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for index in (0..14) %}

                {% if index in (0, 4, 5, 9, 10, 14) %}
                    Not Renderized {{ index }}
                {% endif %}

                {{ index }}

            {% endfor %}

        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
